################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TDProjectMVC.sln
/TDProjectMVC.sln
.vs/
appsettings.Development.json
appsettings.json
newagent-oimv-6d711e4f6243.json

