@* @model IEnumerable<TDProjectMVC.ViewModels.HangHoaVM> *@
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<TDProjectMVC.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "Index";
    Layout = "_DanhSachHangHoa";
}
 <!-- #region Danh Sach San Pham -->
    <div class="row">
        @section BreadCum {
            <div id="breadcrumb" class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul id="breadcrumb-tree" class="breadcrumb-tree">
                                <li><a href="/">Home</a></li>
                                <li><a href="/">Store</a></li>
                                <li class="active"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if(Model != null && Model.Any()){
                @await Html.PartialAsync("productItem", Model)    
        }
        <div class="store-filter clearfix">
            <span class="store-qty">Showing 20-100 products</span>
            <ul class="store-pagination">
                @if (ViewBag.TotalPages != null && ViewBag.TotalPages > 0)
                {
                    for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="@(ViewBag.Page == i ? "active" : "")">
                            <a href="@Url.Action("Index", "Product", new { page = i, pagesize = ViewBag.PageSize, loai = ViewBag.Loai, hang = ViewBag.hang })">@i</a>
                        </li>
                    }
                }
            </ul>
        </div>
     </div>
