.SearchSpace {
    margin-left: 190px;
}

.mytd {
    padding: 15px;
}

.cart-dropdown .cart-list .product-widget .product-img {
    left: 0px;
    top: 0px;
    width: 300px;
    height: 300px;
}
/*=========================================================
	WishList
===========================================================*/

.icon-cart {
    position: absolute;
    right: 30px; 
    top: 65%;  
    cursor:pointer;
    transform: translateY(-50%); 
    transition: transform 0.3s ease, color 0.3s ease; 
}
    .icon-cart:hover {
        transform: translateY(-50%) scale(1.2);
        color: #FF4500;
    }
.dropdown-menu {
    position: absolute;
    width: 300px;
    background: #FFF;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 0px 2px #E4E7ED;
    box-shadow: 0px 0px 0px 2px #E4E7ED;
    z-index: 99;
    right: 0;
    opacity: 0;
    visibility: hidden;
}

.dropdown.open > .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu .wish-list {
    max-height: 180px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

    .dropdown-menu .wish-list .product-widget {
        padding: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

        .dropdown-menu .wish-list .product-widget:last-child {
            margin-bottom: 0px;
        }

        .dropdown-menu .wish-list .product-widget .product-img {
            left: 0px;
            top: 0px;
            width: 300px;
            height: 300px;
        }

        .dropdown-menu .wish-list .product-widget .product-body .product-price {
            color: #2B2D42;
        }

.dropdown-menu .cart-btns {
    margin: 0px -17px -17px;
}

    .dropdown-menu .cart-btns > a {
        display: inline-block;
        width: calc(50% - 0px);
        padding: 12px;
        background-color: #D10024;
        color: #FFF;
        text-align: center;
        font-weight: 700;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .dropdown-menu .cart-btns > a:first-child {
            margin-right: -4px;
            background-color: #1e1f29;
        }

        .dropdown-menu .cart-btns > a:hover {
            opacity: 0.9;
        }

.dropdown-menu .cart-summary {
    border-top: 1px solid #E4E7ED;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-ctn > div > a > .qty_WishList {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;
}
/* Set the slider track color */
.noUi-connect {
    background: #D10024; /* Red color for the filled part */
}

/* Customize the slider handles */
.noUi-handle {
    background: #D10024; /* Red color for the handles */
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Circular handle */
}

/* Customize the slider background line */
.noUi-target,
.noUi-base,
.noUi-origin {
    background: #e0e0e0; /* Light gray for the unselected part of the slider */
}

.noUi-horizontal .noUi-handle {
    top: -5px; /* Position handle correctly */
}
/*===========================Chi Tiết Đơn Hàng==============================*/
.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.step {
    text-align: center;
    position: relative;
    flex: 1;
}

.step-icon {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 3px solid #4caf50;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.step.aitemive .step-icon {
    background-color: #4caf50;
    color: white;
}

.step::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #4caf50;
    top: 25px;
    left: -50%;
    z-index: 0;
}

.step:first-child::before {
    display: none;
}

.step.inaitemive .step-icon {
    background-color: #e0e0e0;
    border-color: #bdbdbd;
}

.step-title {
    margin-top: 10px;
    font-size: 14px;
    color: #4caf50;
}

.step-time {
    font-size: 12px;
    color: #999;
}
/*========================Index Don Hang=======================*/
.view-orderleft {
    display: flex;
    position: absolute;
    width: 120%;
    height: auto;
    right: 10px;
}

.view-orderright {
    position: absolute;
    width: 105%;
    margin-left: 165px;
}
/*===========================================================*/

/*=============================COUPON==============================*/
.header-coupon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.coupon-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.coupon-row {
    margin-bottom: 20px;
}

.coupon-card {
    width: 550px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background: white;
    margin-top: 20px;
}

.coupon-header {
    border-right: 1px dashed #ccc;
}

.coupon-logo {
    width: 195px;
    height: 145px;
    margin-right: 10px;
}

.coupon-brand {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.coupon-body {
    text-align: left;
    padding: 16px;
    color: #555;
}

.coupon-discount {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.coupon-validity {
    font-size: 14px;
    color: #666;
}

.coupon-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
}

.coupon-code {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: #333;
    width: calc(100% - 90px);
    text-align: center;
}

.copy-button {
    background-color: #ff4141;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

    .copy-button:hover {
        background-color: #cc3434;
    }
/*Map*/


/*=============================Đơn Hàng==============================*/
/* Order History specific styles */
.order-history-container .order-details-nb {
    display: none;
}

    .order-history-container .order-details-nb.active {
        display: block;
    }

.order-history-container tr.selected {
    font-weight: bold;
    background-color: #f8f9fa;
}

.order-history-container .text-truncate-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* Table containers */
.order-history-container .table1-container {
    max-height: 650px;
    overflow-y: auto;
}

.order-history-container .table2-container {
    position: relative;
    max-height: 285px;
    overflow-y: auto;
}
.order-history-container .table1 thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}
/* Table specific styles */
.order-history-container .table2 {
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
}

    .order-history-container .table2 thead,
    .order-history-container .table2 tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .order-history-container .table2 tbody {
        display: block;
        max-height: 266px;
        overflow-y: auto;
    }

    .order-history-container .table2 thead {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 2;
    }

    .order-history-container .table2 tbody tr.sticky-row {
        position: sticky;
        bottom: 0;
        background-color: white;
        z-index: 1;
    }

        .order-history-container .table2 tbody tr.sticky-row:nth-last-child(1) {
            border-top: 2px solid #dee2e6;
        }

    .order-history-container .table2 tbody tr {
        height: 50px;
    }

    /* Column widths */
    .order-history-container .table2 th:nth-child(1),
    .order-history-container .table2 td:nth-child(1) {
        width: 20%;
    }

    .order-history-container .table2 th:nth-child(2),
    .order-history-container .table2 td:nth-child(2) {
        width: 30%;
    }

    .order-history-container .table2 th:nth-child(3),
    .order-history-container .table2 td:nth-child(3) {
        width: 25%;
    }

    .order-history-container .table2 th:nth-child(4),
    .order-history-container .table2 td:nth-child(4) {
        width: 25%;
    }

/* Layout styles */
.order-history-container .view-orderleft {
    display: flex;
    position: absolute;
    width: 120%;
    height: auto;
    right: 10px;
}

.order-history-container .view-orderright {
    position: absolute;
    width: 105%;
    margin-left: 165px;
}

.order-history-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.order-history-container .row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.order-history-container .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*    .order-history-container .col-md-6 h3 {
        position: relative;
        top: 0;
        text-align: center;
    }*/

/* Add this to your site.css or create a new CSS file */
.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Màu nền đen với độ mờ */
    z-index: 999; /* Nằm dưới modal */
}

.modal-container {
    position: relative;
    z-index: 1001; 
    background: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-close {
    position: absolute;
    top: 0px;
    right: 24px;
    font-size: 50px;
    cursor: pointer;
    color: #666;
}

    .modal-close:hover {
        color: #000;
    }

.modal-content {
    padding: 20px;
}

.product-view {
    display: flex;
    gap: 30px;
}


.main-image {
    flex: 3;
}

.thumb-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-images.w-100 {
    flex: 1; 
    max-width: 50%; 
}
.product-preview img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.product-info.product-details {
    flex: 1;
    max-width: 50%; 
    padding: 20px;
}

.product-name {
    margin: 0 0 15px 0;
    font-size: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px; 
    line-height: 1.2; 
}

.product-rating {
    margin-bottom: 15px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

    .quantity-selector input {
        width: 60px;
        text-align: center;
        padding: 5px;
    }

    .quantity-selector button {
        padding: 5px 10px;
        border: 1px solid #ddd;
        background: #f8f8f8;
        cursor: pointer;
    }

.product-meta {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

/* Responsive styles */
@media (max-width: 768px) {
    .product-view {
        flex-direction: column;
    }

    .product-images.w-100,
    .product-info.product-details {
        max-width: 100%;
    }
}

.product-images {
     position: relative;
     overflow: hidden;
 }

.slider-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.product-preview {
    flex: 0 0 100%;
    display: none;
}

.product-preview.active {
    display: block;
}

.product-preview img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.slider-nav:hover {
    background: rgba(255, 255, 255, 0.9);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}


/*
<!--Style >*/
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.inner {
    --w: 100px;
    --h: 150px;
    --translateZ: calc((var(--w) + var(--h)) + 0px);
    --rotateX: -15deg;
    --perspective: 1000px;
    --color-card: 255, 255, 255; /* Added RGB values for the color */

    position: absolute;
    width: var(--w);
    height: var(--h);
    top: 25%;
    left: calc(50% - (var(--w) / 2) - 2.5px);
    z-index: 2;
    transform-style: preserve-3d;
    transform: perspective(var(--perspective));
    animation: rotating 20s linear infinite;
}

@keyframes rotating {
    from {
        transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0);
    }

    to {
        transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(1turn);
    }
}

.card {
    position: absolute;
    border: 2px solid rgba(var(--color-card), 1); /* Fixed rgba syntax */
    border-radius: 12px;
    overflow: hidden;
    inset: 0;
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index))) translateZ(var(--translateZ));
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: radial-gradient( circle, rgba(var(--color-card), 0.2) 0%, rgba(var(--color-card), 0.6) 80%, rgba(var(--color-card), 0.9) 100% );
}
/*--------------------------------------Clear Search in Store-------------------------------------- */

.clear-search.visible {
    display: block !important;
    opacity: 1 !important;
}

.search-container:hover .clear-search.visible {
    color: #666;
}

.clear-search:hover {
    color: #333 !important;
}

.timkiem-top:focus {
    outline: none;
    border-color: #D10024 !important;
}
